@import "newtodo.css";
@import "todos.css";

:root{
    --current-importance-color: mediumseagreen;
}

body{
    margin: 0;
    font-family: 'Oleo Script', cursive;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 4em;
    background: linear-gradient(100deg, whitesmoke -100%, orange);
}

section{
    margin: 5px;
}

#modal-background{
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

#modal-background.modalactive{
    display: block;
}

.importance {
    height: 50px;
    width: 50px;
    font-size: 2rem;
    margin: 0 5px 0 2px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}