<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TODO</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:700" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <header>TODO</header>
    <div id="app">
        <div v-bind:class="modalIsActive" id="modal-background" @click="showImportancePicker = false"></div>
        <div class="new-todo">
            <input id="new-todo-text" type="text" v-bind:class="newTodoHasText" v-model="newTodo" @keyup.enter="addTodo"/>
            <label for="new-todo-text">Add TODO</label>
            <span class="importance importance-current" @click="showImportancePicker = true" v-bind:style="{'background-color': newImportance.color}">{{newImportance.emoji}}</span>
            <div v-bind:class="importanceIsActive" class="importance-picker">
                <span class="importance" @click="setNewImportance(importance)" v-for="importance in categories" v-bind:style="{'background-color': importance.color}">{{importance.emoji}}</span>
            </div>
        </div>
        <div class="my-todos">
            <ul>
                <li v-for="todo in mytodos">{{todo.todo}}</li>
            </ul>
        </div>
    </div>

    <script src="js/app.js"></script>
</body>

</html>